
.dashboard-card {
 position: absolute;
 left: 15px;
 right: 15px;
 bottom: 15px; 
 top: 15px;
 background-color: rgb(181, 181, 255);
 color: black;
 font-weight: 500;
 
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  color: blue;
  font-size: medium;
  padding-top: 30px;
  
}
.grid-container{
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
}
.mat-h1{

  font-weight: 600;
  padding-top: 40px;
  padding-bottom: 30px;
}